textarea:focus, input:focus {
  border-bottom: 1px solid #00b0ff !important;
  -webkit-box-shadow: 0 1px 0 0 #00b0ff !important;
  -moz-box-shadow: 0 1px 0 0 #00b0ff !important;
  box-shadow: 0 1px 0 0 #00b0ff !important;
}
span.remove, span.complete, span.info, a > i {
    cursor: pointer;
    color: white;
}
h4 {
    margin: auto !important;
}

header {
    height: 10vh
}

.btn {
  padding: 0 2px !important;
  white-space: normal !important;
}
.save-details, .cancel-btn {
  padding: 0 15px !important;
  margin-right: 5px !important;
  float: right;
}
.detailsWrap .done-icon {
  float: right;
}
.todoInput {
  width: 85% !important;
}
.addBtn {
  width: 15%;
}
.controlBtn {
  width: 49%;
}
.controlBtn.remove {
  float: right;
}
