textarea:focus, input:focus {
  border-bottom: 1px solid #00b0ff !important;
  -webkit-box-shadow: 0 1px 0 0 #00b0ff !important;
  -moz-box-shadow: 0 1px 0 0 #00b0ff !important;
  box-shadow: 0 1px 0 0 #00b0ff !important;
}
span.remove, span.complete {
    cursor: pointer;
    color: white;
}
.controls {
    float: right;
}
h4 {
    margin: auto !important;
}

header {
    height: 10vh
}

span.remove i:hover {
    color: #b71c1c;
}

span.complete i:hover {
    color: #1b5e20;
}
.btn {
  padding: 0 2px !important;
  white-space: normal !important;
}
.todoInput {
  width: 85% !important;
}
.addBtn {
  width: 15%;
}
.controlBtn {
  width: 49%;
}
.controlBtn.remove {
  float: right;
}
